* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(212, 211, 211);
    overflow-x: hidden;
   
}

.header {
    width: 100%;
    height: 75px;
    background-color: #2b2929;
    padding-left: 3%;
    padding-right: 5%;
    box-sizing: border-box;
}

.navbar {
    height: 100%;
    display: flex;
    align-items:center;   
    
    
}


.logo {
    height: 45px;
    list-style: none;
    cursor: pointer;
}

.logo_name {
   
    font-size: 45px;
    font-family: "Almendra SC";
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    cursor: default;
    
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    
}


.container{
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(104, 104, 104, 0.2);
    padding: 20px; /* Updated padding for better spacing */
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    font-family: 'Times New Roman';
}



.btn button{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;

    margin: 10px;
    width: 100%;
    font-weight: bold;
   
    color: #3a3636;
    padding: 10px 20px;
    margin: 8px 0;
    margin-right: 15px;
    border: black solid 1.5px;
    
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
   
    border-radius: 1.5px;
}
h1{
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:130%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);

   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  th{
    
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    border-right: solid 2px rgba(0, 0, 0, 0.1);
    border-bottom:  solid 2px rgba(0,0,0,0.1);
    

  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
   
    border-right: solid 2px rgba(0, 0, 0, 0.1);
  }

  



.main
{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(104, 104, 104, 0.2);
    padding: 20px; /* Updated padding for better spacing */
    width: 80%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    font-family: 'Times New Roman';
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(#e0ffe5, #989cac);
   
}
.content{
  margin: 0 auto; /* This centers the container horizontally */
  width: 100%;
}
.display_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_btn button{
    
    width: 150%;
    font-weight: bold;
   margin: auto;
    color: #3a3636;
    text-align: center;

    
   
    border: black solid transparent 1.5px;
    
    border-radius: 5px;
    cursor: pointer;
}

.display_btn button:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
   
    border-radius: 1.5px;
}



button{
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: #3a3636;
    padding: 5px 15px;
   margin-top: 10px;
    
    margin-right: 15px;
    border: black solid 1.5px;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}


.status_btn button{
  font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: #3a3636;
   padding: 2px;
   margin-top: 10px;
    
    margin-right: 15px;
    border: black solid 1.5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}


select,option{
    border: black solid 1px;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    cursor: default;
}

       /* Custom styling for radio buttons */
       .radio-container {
           display: inline-block;
           position: relative;
           padding-left: 25px;
           margin-bottom:18px;
           cursor: pointer;
           font-size: 13px;
           user-select: none;
           width: 100%;
       }

       .radio-container input {
           position: absolute;
           opacity: 0;
           cursor: pointer;
       }

       .checkmark {
           position: absolute;
           top: 0;
           left: 0;
           height: 20px;
           width: 20px;
           background-color: #eee;
           border-radius: 50%;
       }

       .radio-container:hover input ~ .checkmark {
           background-color: #ccc;
       }

       .radio-container input:checked ~ .checkmark {
           background-color: #6ee187;
       }

       .checkmark:after {
           content: "";
           position: absolute;
           display: none;
       }

       .radio-container input:checked ~ .checkmark:after {
           display: block;
       }

       .radio-container .checkmark:after {
           top: 7px;
           left: 6px;
           width: 8px;
           height: 8px;
           border-radius: 50%;
           background: white;
       }

       /* General styles for buttons */
       
  