* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-image: linear-gradient(to left, #000000, #434343);
}


.header {
    width: 100%;
    height: 75px;
    background-color: #2b2929;
    padding-left: 3%;
    padding-right: 5%;
    box-sizing: border-box;
}

.navbar {
    height: 100%;
    display: flex;
    align-items:center;   
    
    
}


.logo {
    height: 45px;
    list-style: none;
    cursor: pointer;
}

.logo_name {
   
    font-size: 45px;
    font-family: "Almendra SC";
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    cursor: default;
    
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    
}

button {
    font-size: medium;
    font-family: "Monaco";
    font-weight: bold;
    background-color: #44ce9b;
    color: #3a3636;
    padding: 10px 20px;
    margin: 8px 0;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    padding: 10px 18px;
    background-color: #e6574d;
}

.psw {
    font-family: "Monaco";
    cursor: default;
}

.pass {
    color: #cd8022; 
    text-decoration: none;
}

.pass:active {
    color: #cd2727;
}

.checkbox {
    padding: 10px;
}





.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(104, 104, 104, 0.2);
    padding: 20px; /* Updated padding for better spacing */
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    font-family: 'Times New Roman';
    
  
}



input[type="text"],
input[type="password"] {
    max-width: 560px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
    margin: 8px 0;
    display: block; /* Ensuring input elements appear in block */
    width: 100%; /* Ensuring input elements occupy full width */
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #05060f;
}

label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
    text-align: left; /* Ensuring label text alignment */
}




.container {
    
    padding: 20px;
    background-color: #292828;
   
   
}






.error {
    color: #cd8022;
    display: none;
}
h1 {
    color: black;
    cursor: default;
  }
p {
    color: black;
    cursor: default;
}

table, th, td {
    padding: 5px;
    border: 1px solid;
   
  }

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_btn{
    display: flex;
    justify-content: center;

    
}

.display_btn button{
    width: 96%;
}


.continue_btn{
    text-decoration: none;
    color: #000000;
    
}

.continue_btn button{
    width: 30%;
}


.btn button,h1{
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.text{
    display: flex;
    justify-content: center;
    border: none;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;

    margin: 10px;
    width: 100%;
    cursor: default;
}
