*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.header{
    width: 100%;
    height: 75px;
    display: block;
    background-color: #2b2929;

}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
   
}
.logo{
    
    height: 45px;
    list-style: none;
    display: inline-block;
    position: relative;
    top: 15px;
    left: 15px;
    cursor: pointer;
    
}

.logo_name{
    font-size: 45px;
    font-family: "Almendra SC";
    position: relative;
    bottom: 40px;
    left: 70px;
    text-decoration: none;
    color: #fff;
    cursor: default;
    
}

nav{

    flex: 1;
    text-align: right;
}

.profile{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    bottom: 73px;
    right: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    
    
}


.cart{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    bottom: 73px;
    right: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    
    
}


.search{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    bottom: 73px;
    right: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    
    
}

.top_text{
    font-size: 50px;
    font-family: "Almendra SC";
    text-align: center;
    cursor: default;
    margin-top: 50px;
}

.products{
   
    height: 100%;
    display: flex;
    align-items: center;

    margin: auto;
    width: 70%;
    padding: 10px;
   
    
}

.year{
    display: inline-block;
    margin-left: 115px;

    width: 250px;
    height: 450px;
    border: #2b2929;
    border-style: solid;
   

}

.year_des{
    position: absolute;
    
    left:350px;
    font-size: 12px;
    cursor: default;
    margin-top: 32%;
}
.Champs{
    display: inline-block;
    margin-left: 25px;

    width: 250px;
    height: 450px;
    border: #2b2929;
    border-style: solid;

}
.champs_des{
    position: absolute;
   
    left:627px;
    font-size: 12px;
    cursor: default;
    margin-top: 32%;

}

.Mamba{
    display: inline-block;
    margin-left: 25px;

    width: 300px;
    height: 450px;
    border: #2b2929;
    border-style: solid;

}

.mamba_des{
    position:absolute;
    
    left:912px;
    font-size: 12px;
    cursor: default;
    margin-top: 32%;
   
}



.bottom_products{
   
    height: 100%;
    display: flex;
    align-items: center;

    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 100px;
   margin-bottom: 50px;
    
}

.flames{
    display: inline-block;
    margin-left: 125px;

    width: 255px;
    height: 450px;
    border: #2b2929;
    border-style: solid;
}

.care{
    display: inline-block;
    margin-left: 25px;

    width: 250px;
    height: 450px;
    border: #2b2929;
    border-style: solid;
   
}

.MONOGCHROME{
    display: inline-block;
    margin-left: 25px;

    width: 260px;
    height: 450px;
    border: #2b2929;
    border-style: solid;
}

.flames_des{
    position: absolute;
    
    left:355px;
    padding-top: 500px;
    font-size: 12px;
    cursor: default;
}

.care_des{
    position: absolute;
    
   padding-left: 420px;
    padding-top: 500px;
    font-size: 12px;
    cursor: default;
    

}

.MONOGCHROME_des{

    
    position: absolute;
    
    left:930px;
    padding-top: 500px;
    font-size: 12px;
    cursor: default;
    
   
    

}

.bottom{
    margin-top: 30px;
    font-size: 50px;
    font-family: "Almendra SC";
    text-align: center;
    cursor: default;
}

.windbreaker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px ;
    width: 50%;
    border: #2b2929 ;
    border-style: solid;


}

.windbreaker_txt{
    
    position: relative;
    left: 40%;
    font-size: 16px;
    
   
    cursor: default;
     
    
    
    
}


.footer{
    
    width: 100%;
    padding: 10px 10%;
    background: #333;
    color: #efefef;
    position: relative;
    top: 50px;
    
    margin: auto;
  
  padding: 10px;
  cursor: default;
    
}

.footer div{
    text-align: center ;
}

.col-1 h3{
    margin-bottom: 10px;
}

.col-2{
    flex-grow: 2;
}

.col-2 h3{
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    
    display: inline-block;
    
}

.social-icons{
    margin-top: 5px;
    margin-bottom: 15px;

}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    
}

.col-3 h3{
    margin: 15px;
}





